[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/ArrayUtils"]
	path = lib/ArrayUtils
	url = https://github.com/0xPhaze/ArrayUtils
[submodule "lib/ERC721M"]
	path = lib/ERC721M
	url = https://github.com/0xPhaze/ERC721M
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xPhaze/UDS
